/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap");

/* common css */
section {
  margin: 2rem 0;
}
/* utilities */

.title {
  font-family: "Lobster", cursive;
}

/* notice */
.notice-section-contianer {
  background: #abd9cd;
}
.notice-board-wrapper {
  max-height: 10rem;
  max-width: 74%;
  overflow-y: scroll;
}

.notice {
  border: 1px solid black;
}

/* branch */
.branch {
  border-radius: 10px !important;
}
.branch img {
  border-radius: 10px;
}

/* latest news */
.load-more-news-icon-wrapper {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 50%;
  transition: all 0.3s;
}

.load-more-news-icon-wrapper svg {
  padding: 5px;
}

.load-more-news-icon-wrapper:hover {
  background-color: aquamarine;
  cursor: pointer;
}
